<th:block th:fragment="user-profile2">
    <main class="main-content">
        <br>
        <h1 class="text-center" th:text="${workerProfile.firstName + '   ' + workerProfile.lastName}"></h1>
        <hr class="bg-resev hr-2"/>
        <div class="text-center">
            <img th:src="@{${workerProfile.image}}" class="img-profile-pic"
                 onerror="this.onerror=null; this.src='https://res.cloudinary.com/hristo/image/upload/v1534431613/Final_PRofile_Hire_mE.jpg';">
            <br>
            <br>
            <div>
                <table>
                    <tr>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Telephone number</th>
                        <th>Gender</th>
                        <th>Views</th>
                    </tr>
                    <tr style="text-align:center">
                        <td style="width: 20%;" th:text="${workerProfile.age}"></td>
                        <td style="width: 20%;" th:text="${workerProfile.email}"></td>
                        <td style="width: 20%;" th:text="${workerProfile.telephoneNumber}"></td>
                        <td style="width: 20%;" th:text="${workerProfile.gender}"></td>
                        <td style="width: 20%;" th:text="${workerProfile.views}"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <th>Current Job</th>
                        <th>Previous Job 1</th>
                        <th>Previous Job 2</th>
                    </tr>
                    <tr style="text-align:center">
                        <td style="width: 34%;" th:text="${workerProfile.currentJob}"></td>
                        <td style="width: 33%;" th:text="${workerProfile.previousJob1}"></td>
                        <td style="width: 33%;" th:text="${workerProfile.previousJob2}"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <th>Additional Information</th>
                    </tr>
                    <tr style="text-align:center">
                        <td style="width: 100%;" th:text="${workerProfile.additionalInformation}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center">
            <br>
            <hr class="bg-resev hr-2"/>
            <h1 class="text-center">Worker Requirements</h1>
            <hr class="bg-resev hr-2"/>
            <div>
                <table>
                    <tr>
                        <th>Salary</th>
                        <th>Job Location</th>
                        <th>Working Time</th>
                        <th>Starting position</th>
                    </tr>
                    <tr style="text-align:center">
                        <td style="width: 25%;" th:text="${workerRequirement.expectedSalary}"></td>
                        <td style="width: 25%;" th:text="${workerRequirement.expectedJobLocation}"></td>
                        <td style="width: 25%;" th:text="${workerRequirement.expectedWorkTime}"></td>
                        <td style="width: 25%;" th:text="${workerRequirement.expectedStartingPosition}"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <th>Additional Information</th>
                    </tr>
                    <tr style="text-align:center">
                        <td style="width: 100%;" th:text="${workerRequirement.additionalRequirements}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</th:block>