<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <div align="center">
        <br><br>
        <h1 align="center">Some of yours fields are too long ! Watch more or you will not find a job</h1>
        <hr class="bg-resev hr-2"/>
        <div class="container-fluid">
            <img src="https://res.cloudinary.com/hristo/image/upload/v1535124624/user-reg-error.jpg"
                 class="img-front3" alt="Responsive image">
        </div>
        <br>

        <a class="btn btn-secondary btn-lg" th:href="@{/user-profile}">Back</a>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>