<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="main-content" >
        <br>
        <h1 class="text-center">Our Partners</h1>
        <hr class="bg-resev hr-2"/>

        <div th:object="${companies}">
        <section>
            <div>
                <table >
                    <tr>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Additional Information</th>
                    </tr>
                    <th:block th:each="company : ${companies}">
                        <tr style="text-align:center">
                            <td style="width:100px; height:150px;">
                            <img th:src="@{${company.image}}" class="img-fluid"></td>
                            <td style="width: 15%;" th:text="${company.companyName}"></td>
                            <td style="width: 10%;" th:text="${company.region}"></td>
                            <td style="width: 13%;" th:text="${company.email}"></td>
                            <td style="width: 12%;" th:text="${company.telephoneNumber}"></td>
                            <td style="width: 40%;" th:text="${company.additionalInformation}"></td>
                                                        <!--<td>-->
                            <!--<button th:onclick="'location.href = \'' + @{/edit/{id}(id=${film.id})} + '\''" class="edit">Edit</button>-->
                            <!--<button th:onclick="'location.href = \'' + @{/delete/{id}(id=${film.id})} + '\''" class="delete">Delete</button>-->
                            <!--</td>-->
                        </tr>
                    </th:block>
                </table>
            </div>
        </section>
        </div>

        </form>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>