<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<head>
    <meta charset="UTF-8">
    <title>Create Company</title>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="main-content">
        <br>
        <h1 class="text-center">Create Company</h1>
        <hr class="bg-resev hr-2"/>

        <form class="w-40 mx-auto" enctype="multipart/form-data" th:action="@{/create-company}" method="POST">

               <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="companyName">*Company Name</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" aria-describedby="companyName" required>
                    <small id="companyNameHelp" class="form-text text-muted">Between 1 and 100 symbols</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Company Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <small id="emailHelp" class="form-text text-muted">Between 1 and 100 symbols</small>
                </div>
                   <div class="form-group col-md-6">
                       <label for="telephoneNumber">*Telephone Number</label>
                       <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber" aria-describedby="telephoneNumber" required>
                       <small id="telephoneNumberHelp" class="form-text text-muted">Between 5 and 15 symbols</small>
                   </div>
                   <div class="form-group col-md-6">
                       <label for="region">Company Location</label>
                       <select class="form-control" id="region"
                               name="region">
                           <option selected>SOFIA_CITY</option>
                           <option>SOFIA_PROVINCE</option>
                           <option>PLOVDIV</option>
                           <option>VARNA</option>
                           <option>STARA_ZAGORA</option>
                           <option>RUSE</option>
                           <option>PERNIK</option>
                           <option>BLAGOEVGRAD</option>
                           <option>BURGAS</option>
                           <option>VELIKO_TARNOVO</option>
                           <option>PLEVEN</option>
                           <option>LOVECH</option>
                           <option>PAZARDZHIK</option>
                           <option>DOBRICH</option>
                           <option>HASKOVO</option>
                           <option>MONTANA</option>
                           <option>SHUMEN</option>
                           <option>SILISTRA</option>
                           <option>RAZGRAD</option>
                           <option>SLIVEN</option>
                           <option>SMOLYAN</option>
                           <option>GABROVO</option>
                           <option>KYUSTENDIL</option>
                           <option>KARDZHALI</option>
                           <option>TARGOVISHTE</option>
                           <option>VIDIN</option>
                           <option>VRATSA</option>
                           <option>YAMBOL</option>
                           <option>ABROAD</option>
                           <option>OTHER</option>
                       </select>
                   </div>

                </div>
            <hr class="bg-resev hr-2"/>
            <div class="form-group">
                <div class="col-xs-3 text-left">
                    <label for="additionalInformation">Additional information </label>
                </div>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="5" id="additionalInformation" name="additionalInformation" ></textarea>
                </div>
                <small id="addInfoHelp" class="form-text text-muted">Between 0 and 300 symbols</small>
            </div>
            <hr class="bg-resev hr-2"/>
            <div class="form-group">
                <div class="d-flex text-left">
                    <label for="eventPicture">Company's Logo</label>
                </div>
                <div class="w-30 mx-auto">
                    <input type="file"  class="form-control-file" id="eventPicture" name="eventPicture">
                </div>
            </div>
            <hr class="bg-resev hr-2"/>
            <h6 class="text-left">Fields with * are required</h6>
            <div class="button-holder d-flex justify-content-around">
                <input class="btn btn-outline-success btn-lg" type="submit" value="Create"/>
                <a class="btn btn-secondary btn-lg" th:href="@{/}">Cancel</a>
            </div>
        </form>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>