<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
   <div class="text-center ">
    <br>
    <h1> HireME </h1>
    <h3>The Best Place to start a career or to move to a new position!</h3>
    <br>
       <h3> <a class="btn btn-light btn-lg" th:href="@{/login}">Login</a> or You must be NEW here
           <a class="btn btn-warning btn-lg" th:href="@{/register}">Register</a></h3>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <img src="http://res.cloudinary.com/hristo/image/upload/r_30/v1534615333/Hiring-staff.jpg"
             class="img-front1" alt="Responsive image">
    </div>
</div>
</body>
<th:block th:replace="fragments/footer"></th:block>
</html>