<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="delete-wrapper">
    <section class="delete">
        <article>
            <div align="center">
            <form th:action="@{/delete}" method="POST"><br><br><br>
                <h1 align="center">Are you sure delete your account ?</h1>
                <hr class="bg-resev hr-2"/>

                <div class="container-fluid">
                    <img src="https://res.cloudinary.com/hristo/image/upload/v1534798698/Delete_Acoount.png"
                         class="img-front3" alt="Responsive image">
                </div>
                <br>
                 <button type="submit" class="btn btn-danger btn-lg">Delete</button>
            </form>
                <a class="btn btn-secondary btn-lg" th:href="@{/home}">Cancel</a>
         </div>
        </article>
    </section>
</div>

<th:block th:replace="fragments/footer"></th:block>
</body>
</html>