<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<div class="container-fluid" th:action="@{/user-details/{id}(id=${workerProfile.id})}">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <th:block th:replace="fragments/user-profile2"></th:block>
     <br>
    <th:block th:switch="${category}">
        <div class="button-holder d-flex justify-content-around">
        <div th:case="'ARTS'">
            <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-art}">Back</a>
        </div>
        <div th:case="'MANAGEMENT'">
            <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-management}">Back</a>
        </div>
            <div th:case="'EDUCATION'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-education}">Back</a>
            </div>
            <div th:case="'HEALTH'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-health}">Back</a>
            </div>
            <div th:case="'GOVERNMENT'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-government}">Back</a>
            </div>
            <div th:case="'ENGINEERING'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-engineering}">Back</a>
            </div>
            <div th:case="'FINANCE'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-finance}">Back</a>
            </div>
            <div th:case="'SECURITY'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-security}">Back</a>
            </div>
            <div th:case="'PLEASURE'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-pleasure}">Back</a>
            </div>
            <div th:case="'SERVICES'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-service}">Back</a>
            </div>
            <div th:case="'IT'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-it}">Back</a>
            </div>
            <div th:case="'OTHER'">
                <a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-other}">Back</a>
            </div>
        </div>
            <!-- print object is new and active -->


    </th:block>
</div>

        <!--<div class="button-holder d-flex justify-content-around">-->
            <!--<a class="btn btn-secondary btn-lg align-content-center" th:href="@{/users-art}">Back</a>-->
        <!--</div>-->
    <th:block th:replace="fragments/footer"></th:block>
</div>

</body>
</html>









<!--<h1>Edit Film</h1>-->
<!--<section>-->

    <!--<div th:action="@{/user-details/{id}(id=${workerProfile.id})}" method="GET">-->


            <!--<h3 th:text="${workerProfile.firstName}">Name </h3>-->
            <!--<h3 th:text="${workerRequirement.expectedJobLocation}">Location </h3>-->
            <!--<button type="button" th:onclick="'location.href = \'' + @{/} + '\''" class="cancel">Cancel</button>-->

    <!--</div>-->
<!--</section>-->