<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div id="delete-wrapper">
    <section class="delete">
        <article>
            <form th:action="@{/delete}" method="POST">
                <h4>Are you sure delete your account?</h4>
                 <button type="submit">Delete</button>
                <a th:href="@{/}">Cancel</a>
            </form>
        </article>
    </section>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>